<section class="home-grid">

   <h1 class="heading">Thể Loại</h1>

   <div class="box-container">

      <!-- <div class="box">
         <h3 class="title">Lượt thích và bình luận</h3>
         <p class="likes">Tổng số lượt tích : <span>25</span></p>
         <a href="#" class="inline-btn">Xem lượt thích</a>
         <p class="likes">Tổng số bình luận : <span>12</span></p>
         <a href="#" class="inline-btn">Xem bình luận</a>
         <p class="likes">Tổng số lượt mua : <span>4</span></p>
         <a href="#" class="inline-btn">Xem lượt mua</a>
      </div> -->
      
      <!-- <div class="box">
         <h3 class="title">top categories</h3>
         <div class="flex">
            <a href="#"><i class="fas fa-code"></i><span>Phát triển</span></a>
            <a href="#"><i class="fas fa-chart-simple"></i><span>Kinh doanh</span></a>
            <a href="#"><i class="fas fa-pen"></i><span>Thiết kế</span></a>
            <a href="#"><i class="fas fa-chart-line"></i><span>Tiếp thị</span></a>
            <a href="#"><i class="fas fa-music"></i><span>Âm nhạc</span></a>
            <a href="#"><i class="fas fa-camera"></i><span>nhiếp ảnh</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>Phần mềm</span></a>
            <a href="#"><i class="fas fa-vial"></i><span>Khoa học</span></a>
         </div>
      </div>

      <div class="box">
         <h3 class="title">popular topics</h3>
         <div class="flex">
            <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
            <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>
            <a href="#"><i class="fab fa-react"></i><span>react</span></a>
            <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>
         </div>
      </div> -->

      <div class="box">
         <!-- <ul class="nav">
            <li><span>Phát triển</span>
               <ul>
                  <li>Frontend
                    <ul>
                      <li>Frontend 1</li>
                      <li>Frontend 2</li>
                    </ul>
                  </li>
                  <li>BackEnd
                     <ul>
                        <li>Backend 1</li>
                        <li>Backend 2</li>
                      </ul>
                  </li>
                  <li>FullStack</li>
                </ul>
            </li>
          </ul> -->
          <ul class="nav">
            <ng-container *ngFor="let category of treeCategories">
               <li><span>{{ category.name }}</span>
                  <ul *ngIf="category.children && category.children.length > 0">
                     <ng-container *ngFor="let child of category.children">
                        <li>
                           <span>{{ child.name }}</span>
                           <ul *ngIf="child.children && child.children.length > 0">
                             <ng-container *ngFor="let grandchild of child.children">
                               <li>
                                 <span>{{ grandchild.name }}</span>
                               </li>
                             </ng-container>
                           </ul>
                         </li>
                     </ng-container>
                  </ul>
               </li>
            </ng-container>
          </ul>
          <!-- <ng-container *ngFor="let category of treeCategories">
            <li>
              <i class="fas fa-code"></i><span>{{ category.name }}</span>
              <ul *ngIf="category.children && category.children.length > 0">
                <ng-container *ngFor="let child of category.children">
                  <li>
                    <span>{{ child.name }}</span>
                    <ul *ngIf="child.children && child.children.length > 0">
                      <ng-container *ngFor="let grandchild of child.children">
                        <li>
                          <span>{{ grandchild.name }}</span>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container> -->
      </div>

   </div>

</section>

<section class="courses">

   <h1 class="heading">Khóa Học Của Chúng Tôi</h1>

   <div class="box-container">

      <div class="box" *ngFor="let course of dataPage">
         <div class="tutor">
            <!-- <img src="{{course.user_id}}" alt=""> -->
            <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="">
            <div class="info">
               <h3>{{course.user_id}}</h3>
               <span>{{course.start_time}}</span>
            </div>
         </div>
         <div class="thumb">
            <!-- <img src="{{course.img_course}}" alt=""> -->
            <img src="https://d1iv5z3ivlqga1.cloudfront.net/wp-content/uploads/2023/10/30114934/Huyen-A%CC%89nh-bi%CC%80a-blog-2023-10-30T114925.545-1024x576.png" alt="">
            <!-- <span>{{course.total_videos}}</span> -->
            <span>10</span>
         </div>
         <h3 class="title">{{course.title}}</h3>
         <a href="playlist" class="inline-btn">Xem Khóa Học</a>
      </div>
   </div>

   <div class="card-footer py-4">
      <div class="d-flex align-items-center">
        <select class="form-select mr-3" style="width: 100px; height: 30px;" [(ngModel)]="size" (ngModelChange)="onSizeChange($event)">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
        <div class="ml-auto"></div> <!-- Thêm phần này để tạo khoảng trống bên phải -->
        <nav aria-label="...">
          <ul class="pagination justify-content-end mb-0">
            <li class="page-item" [class.disabled]="page === 0">
              <a class="page-link" tabindex="-1" (click)="navigateToPage(page - 1)">
                <i class="fas fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let i of getPageArray(); let index = index" [class.active]="i === page">
              <a class="page-link" (click)="navigateToPage(i)">{{ i }}</a>
            </li>
            <li class="page-item" [class.disabled]="page === totalPages">
              <a class="page-link" (click)="navigateToPage(page + 1)">
                <i class="fas fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

</section>