<section class="form-container">
 
    <form action="" method="post" enctype="multipart/form-data">
       <h3>Đăng Ký Ngay</h3>
       <p>Họ Và Tên <span>*</span></p>
       <input type="text" name="name" placeholder="Nhập họ và tên " required maxlength="50" class="box">
       <p>Email <span>*</span></p>
       <input type="email" name="email" placeholder="Nhập email" required maxlength="50" class="box">
       <p>Mật Khẩu <span>*</span></p>
       <input type="password" name="pass" placeholder="Nhập mật khẩu" required maxlength="20" class="box">
       <p>Xác nhận mật khẩu <span>*</span></p>
       <input type="password" name="c_pass" placeholder="Xác nhận mật khẩu" required maxlength="20" class="box">
       <p>Chọn Avatar </p>
       <input type="file" accept="image/*" required class="box">
       <input type="submit" value="register new" name="submit" class="btn">
    </form>
 
 </section>