<section class="playlist-details">
   <h1 class="heading">Chi tiết Danh Sách Phát</h1>

   <div class="row">
      <div class="column">
         <form action="" method="post" class="save-playlist">
            <!--             <button type="submit"><i class="fas fa-bookmark"></i> <span>Đánh Dấu Khóa Học</span></button>-->
            <button type="submit">
               <i class="fa-regular fa-bookmark"></i> <span>Đánh Dấu Khóa Học</span>
            </button>
         </form>

         <div class="thumb">
            <img src="../../assets/images/thumb-1.png" alt="" />
            <span>10 videos</span>
         </div>
      </div>
      <div class="column">
         <div class="tutor">
            <img src="../../assets/images/pic-2.jpg" alt="" />
            <div *ngIf="dataCourse">
               <a href="teacher-profile">
                  <h3>{{dataCourse.fullname}}</h3>
               </a>
               <span>{{dataCourse.start_time}}</span>
            </div>
         </div>

         <div class="details">
            <h3>{{dataCourse.title}}</h3>
            <p>{{dataCourse.description}}</p>
            <h3>
               Đánh Giá :
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-regular fa-star"></i>
            </h3>
            <h3 style="margin-top: 5px;">
               Giá Khóa Học : <span style="text-decoration: line-through" *ngIf="discountPercentage != 0">{{dataCourse.price}}</span><span style="margin-left: 5px"*ngIf="discountPercentage != 0">{{dataCourse.priceDiscount}}</span>
               <span style="margin-left: 5px" *ngIf="discountPercentage == 0">{{dataCourse.priceDiscount}}</span>
            </h3>
            <a href="#" class="inline-btn" (click)="addToLocalStorage()">Mua Khóa Học</a>
            <!-- <button class="inline-btn" style="margin-left: 5px"></button> -->
            <a class="inline-btn" style="margin-left: 5px" (click)="addToLocalStorage()" *ngIf="ItemCart == 0"><i class="fas fa-cart-shopping"></i>Thêm Vào Giỏ
               Hàng</a>
         </div>
      </div>
   </div>
</section>

<section class="playlist-videos" *ngFor="let item of dataSection">
   <br />
   <h1 class="heading">{{ item.title }}<i class="fa-solid fa-lock ml-2"></i></h1>

   <div class="box-container">
      <div class="box-wrapper" *ngFor="let lesson of item.lessons">
         <a class="box" href="watch-video">
            <i class="fas fa-play"></i>
            <img src="../../assets/images/post-1-1.png" alt="" />
            <h3>{{ lesson.title }}</h3>
         </a>
      </div>
   </div>
</section>