<section class="form-container">
   <form action="" method="post" enctype="multipart/form-data">
       <h3>Cập nhật hồ sơ</h3>
       <p>Cập nhật tên</p>
       <input type="text" name="name" placeholder="Nguyễn Văn A" maxlength="50" class="box">
       <p>Cập nhật email</p>
       <input type="email" name="email" placeholder="nguyenvana@gmail.com" maxlength="50" class="box">
       <p>Mật khẩu cũ</p>
       <input type="password" name="old_pass" placeholder="Nhập mật khẩu cũ của bạn" maxlength="20" class="box">
       <p>Mật khẩu mới</p>
       <input type="password" name="new_pass" placeholder="Nhập mật khẩu mới của bạn" maxlength="20" class="box">
       <p>Xác nhận mật khẩu</p>
       <input type="password" name="c_pass" placeholder="Xác nhận mật khẩu mới của bạn" maxlength="20" class="box">
       <p>Cập nhật ảnh đại diện</p>
       <input type="file" accept="image/*" class="box">
       <input type="submit" value="Cập nhật hồ sơ" name="submit" class="btn">
   </form>
</section>

 