.user-profile .info{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.user-profile .info .user{
    text-align: center;
    margin-bottom: -60px;
    padding: 1rem;
}

.user-profile .info .user img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.user-profile .info .user h3{
    font-size: 2rem;
    color: var(--black);
}

.user-profile .info .user p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: .3rem 0;
}

.user-profile .info .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.user-profile .info .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    flex: 1 1 25rem;
}

.user-profile .info .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i{
    font-size:2rem;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    border-radius: .5rem;
    height: 5rem;
    width: 5rem;
    line-height: 4.9rem;
}

.user-profile .info .box-container .box .flex span{
    font-size: 2.5rem;
    color: var(--main-color);
}

.user-profile .info .box-container .box .flex p{
    color: var(--light-color);
    font-size: 1.7rem;
}
  
a{
    text-decoration: none;
}

/* ---------- */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 4rem;
}

section.container {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

h3 {
    color: #007bff;
    font-size: 2rem; /* Tăng kích thước font cho h3 */
}

p {
    color: #6c757d;
    font-size: 1.8rem; /* Tăng kích thước font cho p */
}

.box {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem; /* Tăng kích thước font cho input */
}

.form-control {
    font-size: 1.4rem; /* Tăng kích thước font cho input trong Bootstrap */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.8rem; /* Tăng kích thước font cho button */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}