<header class="header">
    <section class="flex">
 
       <a routerLink="home" class="logo">LearnifyApp.</a>
 
       <form action="search.html" method="post" class="search-form">
          <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
          <button type="submit" class="fas fa-search"></button>
       </form>
 
       <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
       </div>
 
       <div class="profile">
         <div *ngFor="let image of userImageData">
            <img [src]="image.image_url" class="image" alt="">
         </div>
          <h3 class="name" *ngIf="userResponse">{{userResponse.fullname}}</h3>
          <a routerLink="profile" class="btn">Xem thông tin</a>
          <a routerLink="purchased-history" class="btn"  *ngIf="userResponse">Lịch Sử Mua Hàng</a>
          <a routerLink="register" class="btn" *ngIf="userResponse">Xem thông tin cá nhân</a>
          <a href="http://localhost:4202/system-admin/dashboard" class="btn" *ngIf="userResponse?.role_id.name === 'admin'">admin</a>
          <div class="flex-btn">
             <a routerLink="login" class="option-btn" *ngIf="!userResponse">Đăng nhập</a>
             <a routerLink="register" class="option-btn" *ngIf="!userResponse">Đăng kí</a>
             <a routerLink="register" class="option-btn" *ngIf="userResponse" (click)="onLogOut()">Đăng xuất</a>
          </div>
       </div>
 
    </section>
 
 </header>

 <div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <div *ngFor="let image of userImageData">
         <img [src]="image.image_url" class="image" alt="">
      </div>
      <h3 class="name" *ngIf="userResponse">{{userResponse.fullname}}</h3>
      <p class="role" *ngIf="userResponse?.role_id.name === 'admin'">Học Viên</p>
      <a href="profile" class="btn" *ngIf="userResponse">Thông tin cá nhân</a>
   </div>

   <nav class="navbar">
      <a href="home"><i class="fas fa-home"></i><span>Trang Chủ</span></a>
      <a href="courses"><i class="fas fa-graduation-cap"></i><span>Khóa học</span></a>
      <a href="cart"><i class="fas fa-cart-shopping"></i><span>Giỏ hàng</span><span style="margin-left: 5px;background-color: #87CEFA;padding: 0px 5px;border-radius: 50%;color: #fff"></span></a>
      <a href="purchased-course"><i class="fas fa-history"></i><span>Khóa Học Đã Mua</span></a>
      <a href="contact"><i class="fas fa-headset"></i><span>Liên Hệ</span></a>
      <a href="teachers"><i class="fas fa-chalkboard-user"></i><span>Giảng Viên</span></a>
      <a href="about"><i class="fas fa-question"></i><span>Thông tin</span></a>
   </nav>

</div>