<section class="contact">
 
    <div class="row">
 
       <div class="image">
          <img src="../../assets/images/contact-img.svg" alt="">
       </div>
 
       <form action="" method="post">
          <h3>Liên Lạc</h3>
          <input type="text" placeholder="Nhập họ và tên" name="name" required maxlength="50" class="box">
          <input type="email" placeholder="Nhập Email" name="email" required maxlength="50" class="box">
          <input type="text" placeholder="Nhập số điện thoại" name="number" required maxlength="50" class="box">
          <textarea name="msg" class="box" placeholder="nhập lời nhắn" required maxlength="1000" cols="30" rows="10"></textarea>
          <input type="submit" value="Gửi Lời Nhắn" class="inline-btn" name="submit">
       </form>
 
    </div>
 
    <div class="box-container">
 
       <div class="box">
          <i class="fas fa-phone"></i>
          <h3>Số Điện Thoại</h3>
          <a href="tel:0901234567">0901234567</a>
          <a href="tel:0901234567">0901234567</a>
       </div>
       
       <div class="box">
          <i class="fas fa-envelope"></i>
          <h3>Địa chỉ email</h3>
          <a href="mailto:nguyenvana@gmail.com">Nguyễn Văn A</a>
          <a href="mailto:nguyenvanb@gmail.com">Nguyễn Văn B</a>
       </div>
 
       <div class="box">
          <i class="fas fa-map-marker-alt"></i>
          <h3>Địa chỉ văn phòng</h3>
          <a href="#">123 đường abc, Quận xyz, Thành phố asd, Đà Nẵng</a>
       </div>
 
    </div>
 
 </section>