<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
   
  </div>
  <div class="container-fluid mt--7">
    
      <div class="col-xl- order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Create/Update payment</h3>
              </div>
              <div class="col-4 text-right">
                <a href="/#/system-admin/payment" class="btn btn-sm btn-info mr-4">Back</a>
                <a class="btn btn-sm btn-default float-right">Save</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">    
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-id">ID :</label>
                      <input type="text" id="input-id" class="form-control form-control-alternative" placeholder="ID Lesson">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-fullName">Full Name :</label>
                        <input type="text" id="input-fullName" class="form-control form-control-alternative" placeholder="Full Name">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email :</label>
                        <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="Email">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phoneNumber">Phone Number :</label>
                        <input type="text" id="input-phoneNumber" class="form-control form-control-alternative" placeholder="Phone Number">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-address">Address :</label>
                        <input type="text" id="input-address" class="form-control form-control-alternative" placeholder="Address">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-userID">User ID :</label>
                        <input type="text" id="input-userID" class="form-control form-control-alternative" placeholder="User ID">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-totalMoney">Total Money :</label>
                        <input type="text" id="input-totalMoney" class="form-control form-control-alternative" placeholder="Total Money">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-paymentMethod">Payment Method :</label>
                        <input type="text" id="input-paymentMethod" class="form-control form-control-alternative" placeholder="Payment Method">
                      </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="input-note">Note :</label>
                        <textarea id="input-note" class="form-control form-control-alternative" placeholder="Note"></textarea>
                    </div>
                </div>                
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>