<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello {{userCloneData.fullname}}</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with
                    your work and manage your projects or assigned tasks</p>
                <a href="'system-admin/dashboard'" class="btn btn-info">Back Home</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">My account</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" (click)="save()" class="btn btn-info">Lưu</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="save()" [formGroup]="userEditForm">
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6 d-none">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">ID <label style="color: red;">*</label></label>
                                        <input type="text" id="input-username" formControlName="id"
                                            class="form-control form-control-alternative" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Họ và tên <label style="color: red;">*</label></label>
                                        <input type="text" id="input-username" formControlName="fullname"
                                            class="form-control form-control-alternative" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email <label style="color: red;">*</label></label>
                                        <input type="text" id="input-email" formControlName="email"
                                            class="form-control form-control-alternative"
                                            placeholder="example@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Số điện thoại <label style="color: red;">*</label></label>
                                        <input type="text" id="input-first-name" formControlName="phone_number"
                                            class="form-control form-control-alternative" placeholder="+84 123456789">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Ngày sinh <label style="color: red;">*</label></label>
                                        <input type="date" id="input-last-name" formControlName="date_of_birth"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-status">Status</label>
                              <div class="form-check form-switch" style="margin-left: 20px;">
                                <input class="form-check-input" type="checkbox" id="mySwitch" name="is_active"
                                  formControlName="is_active">
                              </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Role :</label>
                                    <select class="form-control" formControlName="role_id" (change)="onRoleChange()">
                                        <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
                                    </select>
                                  </div>
                              </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Địa chỉ <label style="color: red;">*</label></label>
                                        <input id="input-address" class="form-control form-control-alternative"
                                            formControlName="address" placeholder="TP. Đà Nẵng, Việt Nam" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Thành phố</label>
                                        <input type="text" id="input-city" class="form-control form-control-alternative"
                                            placeholder="Đà Nẵng" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Quốc gia</label>
                                        <input type="text" id="input-country"
                                            class="form-control form-control-alternative" placeholder="Việt Nam"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Postal code</label>
                                        <input type="number" id="input-postal-code"
                                            class="form-control form-control-alternative" placeholder="550000" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Security</h6>
                        <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-country">Mật khẩu <label style="color: red;">*</label></label>
                                <input type="password" formControlName="password" id="input-country" class="form-control form-control-alternative" placeholder="******" value="">
                            </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-country">Xác nhận mật khẩu <label style="color: red;">*</label></label>
                                <input type="password" formControlName="retype_password" id="input-postal-code" class="form-control form-control-alternative" placeholder="******">
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">About me</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label>Giới thiệu</label>
                                <textarea rows="4" class="form-control form-control-alternative"
                                    placeholder="A few words about you ..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>