<section class="watch-video">
   <div class="video-container">
       <div class="video">
           <video src="../../assets/images/vid-1.mp4" controls poster="../../assets/images/post-1-1.png" id="video"></video>
       </div>
       <h3 class="title">Hướng dẫn HTML cơ bản (phần 01)</h3>
       <div class="info">
           <p class="date"><i class="fas fa-calendar"></i><span>22-10-2022</span></p>
           <p class="date"><i class="fas fa-heart"></i><span>44 lượt thích</span></p>
       </div>
       <div class="tutor">
           <img src="../../assets/images/pic-2.jpg" alt="">
           <div>
               <h3>Giảng Viên</h3>
               <span>developer</span>
           </div>
       </div>
       <form action="" method="post" class="flex">
           <a href="playlist" class="inline-btn">Xem danh sách phát</a>
           <button><i class="far fa-heart"></i><span>Thích</span></button>
       </form>
       <p class="description">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore ratione, hic exercitationem mollitia
           obcaecati culpa dolor placeat provident porro. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Aliquid iure autem non fugit sint. A, sequi rerum architecto dolor fugiat illo, iure velit nihil laboriosam
           cupiditate voluptatum facere cumque nemo!
       </p>
   </div>
</section>

<section class="comments">
   <h1 class="heading">5 bình luận</h1>

   <form action="" class="add-comment">
       <h3>Thêm bình luận</h3>
       <textarea name="comment_box" placeholder="Nhập bình luận của bạn" required maxlength="1000" cols="30" rows="10"></textarea>
       <input type="submit" value="Thêm bình luận" class="inline-btn" name="add_comment">
   </form>

   <h1 class="heading">Bình luận của người dùng</h1>

   <div class="box-container">
       <div class="box">
           <div class="user">
               <img src="../../assets/images/pic-1.jpg" alt="">
               <div>
                   <h3>Nguyễn Văn A</h3>
                   <span>22-10-2022</span>
               </div>
           </div>
           <div class="comment-box">Nice Xừ quá toẹt vời tôi yêu bạn</div>
           <form action="" class="flex-btn">
               <input type="submit" value="Chỉnh sửa bình luận" name="edit_comment" class="inline-option-btn">
               <input type="submit" value="Xóa bình luận" name="delete_comment" class="inline-delete-btn">
           </form>
       </div>
   </div>
</section>

 
 