<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
   
  </div>
  <div class="container-fluid mt--7">
    
      <div class="col-xl- order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Create/Update Course</h3>
              </div>
              <div class="col-4 text-right">
                <form [formGroup]="dataForm" (ngSubmit)="save()">
                  <a routerLink="/system-admin/section" class="btn btn-sm btn-info mr-4">Back</a>
                  <button type="submit" class="btn btn-sm btn-default float-right">Save</button>
                </form>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="dataForm">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">    
                  </div>
                  <div class="col-lg-6 d-none">
                    <div class="form-group">
                      <label class="form-control-label" >ID :</label>
                      <input type="text" formControlName="id" class="form-control form-control-alternative" placeholder="ID Lesson">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Title :</label>
                        <input type="text" formControlName="title" class="form-control form-control-alternative" placeholder="Title">
                      </div>
                  </div>
                  <div class="col-lg-6 d-none">
                    <div class="form-group">
                        <label class="form-control-label">Quantity lesson :</label>
                        <input type="text" formControlName="quantity_lesson" class="form-control form-control-alternative" placeholder="Quantity lesson">
                      </div>
                  </div>
                  <div class="col-lg-6 d-none">
                    <div class="form-group">
                        <label class="form-control-label">Total Minutes :</label>
                        <input type="text" formControlName="total_minutes" class="form-control form-control-alternative" placeholder="Total Minutes">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Resource :</label>
                        <input type="text" formControlName="resource" class="form-control form-control-alternative" placeholder="Resource">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Course :</label>
                        <select class="form-control" formControlName="course_id">
                          <option *ngFor="let item of dataCourse" [value]="item.id">{{item.title}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-status">Status</label>
                      <div class="form-check form-switch" style="margin-left: 20px;">
                        <input class="form-check-input" type="checkbox" id="mySwitch" name="is_delete" formControlName="is_delete">
                      </div>
                    </div> 
                  </div>
                 </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>